<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>TimeGrow needs Calendar access to mirror your tracked work sessions into a separate TimeGrow calendar.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>timegrow</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
